/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.txt
/*.csh
/.*
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
queueScatterGather
/foo*
/bar*
integrationtests/
public/testdata/onTheFlyOutputTest.vcf
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
maven-metadata-local.xml
dependency-reduced-pom.xml
public/external-example/target/
protected/gatk-*-distribution
protected/*/target
*/*/target
public/gatk-engine/public/scala/qscript
public/gatk-engine/public/testdata
public/gatk-queue-extensions-generator/public/scala/qscript
public/gatk-queue-extensions-generator/public/testdata
public/gatk-queue-extensions-public/public/scala/qscript
public/gatk-queue-extensions-public/public/testdata
public/gatk-queue/public/scala/qscript
public/gatk-queue/public/testdata
public/gatk-tools-public/public/scala/qscript
public/gatk-tools-public/public/testdata
public/gatk-utils/public/scala/qscript
public/gatk-utils/public/testdata
public/gsalib/public/scala/qscript
public/gsalib/public/testdata
public/scala/qscript
public/testdata
target/GenomeAnalysisTK.jar
target/Queue.jar
protected/gatk-tools-protected/public/scala/qscript
protected/gatk-tools-protected/public/testdata
